Error in schema in All About the OVSDB Server 

Thank you for writing up a _how to use Open vSwitch Database as a generic database_, it help me a lot figuring it out.

I did find one problem though, with the `.ovsschema` file. I think this is because `ovsdb` change its requirements at one point. An `ovsdb` schema now requires a `name`, a `version` and you define the tables in a `tables` element.

This updated example worked for me:

```json
{
    "name": "todo",
    "version": "0.1.0",
    "tables": {
        "List": {
            "columns": {
                "name": {
                    "type": "string"
                },
                "items": {
                    "type": {
                        "key": {
                            "type": "uuid",
                            "refTable": "Item"
                        },
                        "min": 0,
                        "max": "unlimited"
                    }
                }
            },
            "isRoot": true,
            "indexes": [
                [
                    "name"
                ]
            ]
        },
        "Item": {
            "columns": {
                "status": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                }
            }
        }
    }
}
```


I've created a pull request #24 

More information in [RFC 7047 Section 3.2](https://tools.ietf.org/html/rfc7047#section-3.2).

Thanks @haakoo for this issue and for the accompanying PR!